<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"section","className":"error_sec d-flex align-items-center justify-content-center position-relative text-center"} -->
<section class="wp-block-group error_sec d-flex align-items-center justify-content-center position-relative text-center">
<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">404</h1>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p>This page could not be found.</p>
<!-- /wp:paragraph -->
<!-- wp:paragraph -->
<p><a href="/">Back to Home</a></p>
<!-- /wp:paragraph -->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
